@import url('https://fonts.googleapis.com/css2?family=Cinzel&family=Cormorant+Infant:wght@600&family=Fondamento&family=IM+Fell+English+SC&family=Mountains+of+Christmas&family=Rye&display=swap');

* {
  margin: 0;
  padding: 0;
}

.header {
  display: flex;
  background-color: rgb(50, 167, 145);
  height: 80px;
  justify-content: space-between;
  align-items: center;
}

#trybewarts-header-title {
  font-family: Mountains of Christmas, cursive;
  font-size: 50px;
}

.trybewarts-login {
  display: flex;
  flex-direction: column;
  width: 30%;
  margin-top: 5px;
}

.trybewarts-login input {
  margin: 2px 0;
}

.trybewarts-header-logo {
  width: 50px;
}

#main {
  display: flex;
  font-family: Cormorant Infant, serif;
  font-size: 25px;
  justify-content: center;
  padding: 20px;
}

#evaluation-form {
  display: flex;
  width: 675px;
  flex-direction: column;
}

#trybewarts-forms-logo {
  height: 500px;
}

#form-login {
  display: flex;
  flex-wrap: wrap;
  width: 550px;
  align-content: center;
}

.subject input {
  margin-left: 20px;
  padding: 5px;
}

#form-login input {
  padding: 10px;
  margin: 15px 10px;
}

footer {
  background-color: rgb(50, 167, 145);
  display: flex;
  margin-top: 12%;
}

#footer {
  display: flex;
  padding: 30px;
}

div {
  margin: 10px;
}

#house {
  width: 225px;
  height: 40px;
  margin-left: 10px;
  margin-top: 15px;
  font-family: Cormorant Infant, serif;
  font-size: 20px;
}

#input-email {
  width: 200px;
}

#input-name {
  width: 200px;
}

#input-lastname {
  width: 200px;
}

.option-ratio {
  margin-left: 20px;
}

#label-family {
  margin-left: 20px;
}

#label-content {
  margin-left: 20px;
}

